# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage

# SQLite Database
*.db
*.sqlite
*.sqlite3

# Environment Variables
.env

# Flutter / Dart
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/.pub-cache/
app/.pub/
app/build/
app/android/.gradle
app/android/captures/
app/android/gradlew
app/android/gradlew.bat
app/android/local.properties
app/android/GeneratedPluginRegistrant.java

# IDE
.vscode/
.idea/
*.swp
*.swo
